<h2><%= name %></h2>
<a href="/movies">Go to to all movies</a><br>
<a href="/actors">Go to to all actors</a><br>
<h4>List of movies starred in: </h4>
<% actors_info.each do |actor| %>
  <li>Character: <%= actor["character"] %></li>
  <li>Movie: <a href="/movies/<%= actor["title"] %>"><%=actor["title"] %></a></li>
  <br>
<% end %>
